@model IEnumerable<BerrasBioMarcin.Models.Booking>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AmountSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shows)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingCanceled)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AmountSeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shows.ShowID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingCanceled)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookingID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookingID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookingID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
