@model IEnumerable<BerrasBioMarcin.Models.Show>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShowDate)
            </th>
            <th>
                Movie
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie.MovieTitleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie.MovieDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salon)
            </th>
            <th>
                Spots
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (Show item in Model) {
            

            
                int a = item.Salon.AvailableSpace;

                @foreach (Spot b in item.Spots)
                {
                    if (b.SpotIsTaken == true)
                    {
                        a--;
                    }   
                }
            
            if (a == 0 )
            {

            }
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShowDate)
            </td>
            <td>
                
                <img src="~/Content/MovieImages/@item.Movie.MoviePath"
                height="400" width="300"  
                >
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.MovieTitleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.MovieDescription)
            </td>
            <td>
                
                @Html.DisplayFor(modelItem => item.Salon.SalonId)
            </td>
            
            <td>
                    @{
                        
                        @a  <text>/</text> @item.Salon.AvailableSpace; 

                    }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ShowID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ShowID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ShowID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
