@model IEnumerable<BerrasBioMarcin.Models.Show>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShowDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsShowCanceled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShowDate)
            </td>
            <td>
                
                <img src="~/Content/MovieImages/@item.Movie.MoviePath"
                height="400" width="300"  
                >
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsShowCanceled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salon.SalonId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.MovieTitleName)
            </td>
            <td>
                    @{
                        int a = item.Salon.AvailableSpace;

                        foreach (var b in item.Spots)
                        {
                            a--;
                        }
                        @a;


                    }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ShowID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ShowID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ShowID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
